*{
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box;
}

.container{
    width: auto;
    display:block;
    height: 1000px;
    top: 0;
    height: auto;
}
header{
    background-color: yellowgreen;
    text-align: center;
    font-size: 50px;
    height: 70px;
    width: 100%;
    text-underline-offset: 9px;
    margin-bottom: 20px;
    color: black;
    position: fixed !important; 
    top: 0;
    overflow: hidden;
    padding-bottom: 40px;
}
.form{
    margin-top: 100px;
    width: 60%;
    height: 630px;
    background-color: rgb(214, 169, 230);
    margin-left: 21%;
    padding: 10px;
}
.heading{
    width: 90%;
    border: 4px double black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
    height: 100px;
}
.heading p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 800;
}

.data{
    display: flex;
    margin-left: 40px;
    margin-top: 50px;
}

.data .table td{
    width :200px;
    padding: 6px;
    
}

.data .table #bold{
    font-weight :bold;
}

.record{
    margin-top: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    
    
}
.record p{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 20px;

}
.recorddata{
    border-collapse: collapse;
    font-size: large;
    width:60%;
    margin-left: 21%;
}
.recorddata th , .recorddata td{
    text-align: center;
    padding: 8px;
    border: 2px royalblue;
    border-style: double;  
}
.recorddata th{
    color: black;
}

.recorddata tr{
    color: red;
}

.recorddata tbody{
    color: royalblue;
}


.headings{
    text-align: center;
    margin-top: 30px;
}
.demoheading
{
    text-align: center;
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px double black;
    background-color: lightblue;
    
}
.demos{
    width: 100%;
}
.demoposition{
    height: auto;
    width: 100%;
    margin:10px;
    border: 3px black;
    border-style:dotted;
    border-radius: 25px;
    background-color: lightblue;
    margin-left: 0px;
    padding-left: 20px;    
     padding-bottom: 20px;
}
.relative {
    position: relative;
    left: 30px;
    border: 3px solid red;
    width: 90%;
  }
.static {
    position: static;
    border: 3px solid red;
    width: 90%;
  }

.float{
    height: 180px;
    margin: 20px 0px;
    width: auto;
    border: 3px black;
    border-style: dotted;
    border-radius: 25px;
    background-color: lightgreen;
    color: blue;
    padding-left: 20px;    
     padding-bottom: 20px;
     padding-right: 20px;

}

.left{
      float: left;
      background-color:yellow;
      width: 120px;
      height: 50px;
      margin-top: 5px;
      padding: 10px;
      font-style: italic;
      padding-left: 20px;    
     padding-bottom: 20px;
}
.right{
      float: right;
      background-color: yellow;
      width: 120px;
      height: 50px;
      margin-top: 5px;
      padding: 10px;
      font-style: italic;
      padding-left: 20px;    
     padding-bottom: 20px;
}

.display{
     height: 220px;
     margin-bottom: 40px;
     width: auto;
     border: 3px black;
     margin-top: 40px;
     border-style:dotted;
     border-radius: 25px;
     background-color: lightgreen;
     color: blue;
     padding-left: 20px;    
     padding-bottom: 20px;

}

#myDIV {
    height:80px;
    margin-top: 20px;
    border: 10px black; 
    width: auto;
}

#myDIV span {
    background:yellow;
    display:inline;
    width: auto;
}

#myDIV2 {
    height:80px;
    width: auto;
}

#myDIV2 span {
    background:yellow;
    display:block;
    width: auto;
}

.visibility{
    height: 160px;
    border: 3px black;
    border-style: dotted;
    border-radius: 25px;
    background-color: lightblue;
    padding-left: 20px;    
     padding-bottom: 20px;
}
h2.a {
    visibility: visible;
}
  
h2.b {
    visibility: hidden;
}